* {
    box-sizing: border-box;
}

body {
    text-align: center;
    background: url("./img/table-background.jpg");
    background-size: 100% 100vh;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-areas: 
        "header header header"
        "gameController cards players";
}

header {
    background: darkgray;
    color: white;
    padding: .2em 0;
    font-size: 1.4em;
    grid-area: header;
}

.players {
    grid-area: players;
}

.player {
    background: slateblue;
    display: grid;
    align-items: baseline;
    grid-template-areas: 
        "playerTitle playerName . deletePlayerBtn"
        ". score viewPlayerCardsBtn ."
        "setBtn setBtn setBtn setBtn";
    border: 3px solid white;
    border-radius: 2px;
    padding: .5em;
    color: white;
    width: 70%;
    margin: 2em auto;
    font-size: .5em;
    text-align: left;
}

.player h1 {
    grid-area: playerTitle;
}

.delete-player-area {
    grid-area: deletePlayerBtn;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    align-self: start;
}

.delete-player-btn {
    background: red;
    color: white;
    border: none;
    font-size: .7rem;
    width: 20px;
    height: 20px;
    border-radius: 1rem;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.player h3:nth-of-type(1) {
    grid-area: playerName;
}

.player h3:nth-of-type(2) {
    grid-area: score;
}

.view-player-cards-btn {
    grid-area: viewPlayerCardsBtn;
}

.call-set-btn {
    grid-area: setBtn;
    padding: .5em 0;
    font-size: 2rem;
    background: green;
    color: white;
}

.board-cards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin: 2em auto;
    grid-gap: 1em;
    grid-auto-flow: auto;
    grid-area: cards;
}
.card {
    height: 150px;
    width: 270px;
    background-size: cover;
    background-repeat: no-repeat;
    border: 5px solid black;
    border-radius: 5px;
    filter: brightness(95%)
}

.card:hover {
    filter: brightness(105%);
}

.selected-card {
    border-color: yellow;
    filter: brightness(105%)
}

.game-controller {
    grid-area: gameController;
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    align-items: center;
}

.game-controller button {
    padding: 1em 0;
    font-size: 1em;
    margin: .2em;
    background: slateblue;
    font-weight: bold;
    color: white;
    filter: brightness(90%);
    width: 200px;
}

.game-controller button:hover {
    filter: brightness(100%);
}